body {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  min-width: 100%;
  min-height: 100%;
  }
  .zone-texte {
    width: 100%;
    height: 11vh;
  }
  .zone-texte h2{
  font-size:8vh;
  color: white;
  font-weight: bold;
  font-family: Kurale;
}
  .image{
    position: absolute;
    width: 15vh;
    height: 16vh;
    margin-top: 10%;
   
  }
  /*connexion*/
  .zone-connexion {
    width: 90%;
    height: 84vh;
    border-radius: 3vh;
    background:rgba(196, 196, 196, 0.15);
    border-radius: 7vh;
  }
  .imagequiz {
    margin-left: 35%;
    width: 35%;
    height: 25%;
  }
  .imagequiz img {
    width: 100%;
    height: 100%;
    border-radius: 7vh;
  }
  .zone-formulaire {
    width: 70%;
    height: 70%; 
  }
  .form {
    width: 100%;
    height: 90%;
  }
  .use {
    width: 100%;
    height: 20%;
  }
  .iconify {
    width: 13%;
    height: 80%;
    border-radius: 25%;
    background: #ffffff; 
  }
  .use input {
    width: 83%;
    height: 85%;
    text-align: center;
    border-radius: 13vh;
  }
  .con {
    width: 50%;
    height: 40%;
  }
  .con button {
    width: 60%;
    height: 40%;
    margin-left: 20%;
    background: #007bff;
  }
  .con a {
    width: 60%;
    height: 10%;
    font-size: 4vh;
    margin-left: 5%;
    text-decoration: underline;
  }
  /*inscription joueur*/
   .zone-texteCon{
  width: 400px;
  height: 70px;
  margin-left:20% ;
  text-align:center;
  background: rgba(123, 201, 245, 0.5);
   }
  h2{
  font-size: 45px;
  }
  p{
  font-family: Lancelot;
  font-size: 20px;
  line-height: 20px;
  }
  .int {
    width: 50%;
  }
  .int label{
  width: 200px;
  height: 30px;
  font-family: Lancelot;
  font-size: 30px;
  color: #FFFFFF;
  }
  .int input{
  width: 200px;
  height: 30px;
  left: 170px;
  background: rgba(196, 196, 196, 0.5);
  border-radius: 10px;
  }
  .ava{
    background: rgba(196, 196, 196, 0.863);
    width: 600px;
    height: 100px;
    left: 200px;
    border-radius: 40%;
    border-color: black 2px solid;
  }
  .ava img{
    width: 100%;
    height: 100%;
    border-radius: 40%;
  }
   .choiceavatar{
    width: 40%;
    color: white;
    float: right;
    margin-right: 30px;
    margin-bottom: 50px;
    
  }
  .fichier {
    float: left;
    width: 150px;
    height: 40px;
    margin-left: 15%;
    background: #007bff;
    border-radius: 20px 0px;
    box-shadow: 6px 8px 4px;
  }
  .label-file {
    float: left;
    width: 98%;
    padding-top: 8px;
    padding-left: 15px;
    height: 100%;
    font-size: 17px;
    color: #ffffff;
    bottom:80%;
  }
  .choisir {
    display: none;
  }
  #sub{
  border-radius: 20px 0px;
  margin-top: 35px;
  margin-left: 50px;
  }
  /*admin*/
  .zone-admin{
    width: 100%;
    height: 100%;
    margin-left: 20px;
  }
.entete{
width: 100%;
height: 12vh;
background: rgba(252, 102, 255, 0.39);
border-radius: 20px 20px 0px 0px  ;
}
.cp h3{
width: 350px;
height: 9vh;
font-family: Kurale;
font-size:4vh;
display: flex;
align-items: center;
text-align: center;
color: #FFFBFB;
}
#avatar{
width: 40%;
height: 50%;
float: left;
margin-left: 5vh;
}
#avatar img{
    width: 100%;
    height: 100%;
    background: red;
    border-radius: 40%;
  }
#ab {
  width: 30%;
  height: 8vh;
 margin-left:70%;
}
#ab h3{
  margin-bottom: 14vh;
  font-size:4vh;
  padding: 10px;
  font-family: Kurale;
  float: right;
  color: white;
}
.op{
  
  width: 100%;
  height: 10vh;
  top:2vh;
}
.btn-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;  
  background: white;
 }
 .option {
  width: 95%;
height: 58vh;
float: right;
margin-right: 7%;
border-radius:7vh;
background:red;
 }